@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --green:#00E77F;
    --white:#fff;
    --blue: hsl(211, 100%, 50%);
    --light-white:rgb(202, 202, 202);;
    --black:#000000;
    --red:#ff5c5c;
}

*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    width: 100%;
    height: 100vh;
}

div.button{
    cursor: pointer;
}

.navbar{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    font-size: larger;
    padding-top: 30px;
}

#test-name{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    border: 2px solid var(--blue);
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}

#test-name .input{
    width: 60%;
    font-size: 1.5em;
}

#account{
    justify-self: right;
}

.account-icon > div{
    width: 40px;
    height: 0px;
    border: 2px solid var(--black);
    margin: 6px;
    border-radius: 2px;
}

#test{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

#question-bar{
    width: 75%;
}
#question>p{
    margin-top: 10px;
    color: #3a3a3a;
}

#question-text.input{
    width: 100%;
    height: 3em;
    padding: 10px 5px 10px 5px;
}

#audio-container{
    display: none;
    flex-direction: row;
    align-items: center;
}

audio{
    margin: 10px 20px 10px 0px;
}


#question-type{
    height: 35px;
    width: 150px;
    border-radius: 1px;
    border: solid 2px var(--blue);
    font-size: large;
}

#question-type > option{
    padding: 3px;
}

#question-list{
    width: 25%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 20px;
}

#question-list > div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--black);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--black);
    cursor: pointer;
}

.question-data-invalid{
    background-color: var(--red);
}

#content{
    margin-left: 50px;
    margin-top: 50px;
    height: 80%;
    overflow-y: scroll;
}

#choices{
    margin-top: 20px;
}

.choice{
    margin: 0%;
    padding:20px 20px 20px 34px;
    display: flex;
    flex-direction: row;
}

.choice > div{
    padding-left: 20px;
}

.choice > .input{
    width: 100%;
    height: 4em;
    font-size: 1em;
}

.radio-button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 5px 20px 0px 0px;
    flex-shrink: 0;
    border-width: 2px;
    border-color: hsl(0, 100%, 50%);
    border-style: double;
    background-color: hsl(0, 100%, 100%);
}

.radio-button-correct{
    border-color: hsl(120, 100%, 70%);
    background-color: hsl(120, 100%, 70%);
}

.radio-button::after{
    content:"Correct answer";
    position: relative;
    top: 60px;
    color: white;
    left: 30px;
    display: flex;
    justify-content: center;
    width: 0px;
    border-radius: 3px;
    background-color: var(--green);
    white-space: nowrap;
    transition: width 0.2s linear;
}

.radio-button-correct::after{
    width: 120px;
    padding: 1px 2px 1px 3px;
}

.button{
    border-radius: 25px;
    border-width: 2px;
    border-color: var(--blue);
    border-style: solid;
    width: 175px;
    height: 50px;
    font-size: 1.5em;
    display: flex;
    margin: 0px 10px 0px 10px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    user-select: none;
}

.button-disabled{
    background-color: var(--light-white);
}

.button-enabled:hover{
    background-color:var(--blue);
    color: var(--white);
}

#toggle{
    width: 100%;
    height: 10%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 0.5rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: #007AFF;
    border-radius: 5rem;
 }